body {
  font-family: Arial, sans-serif;
  padding: 10px;
  background-color: #f9f9f9;
  width: 300px;
  height: 400px;
}

h1 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  max-height: 350px;
}

li {
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

.duy{
  text-align: left;
  color: #192A56;
  margin-left: 10px;
}

.hr{
  height: 2px;
  background-color: #FF8901;
}

.megaphone{
  height: 35px;
  width: 35px;
}

.Tduy{
  color: #ffffff;
  background-color: #FF8901;
  padding: 1px 2px; 
  border-radius: 20px;
  font-size: 13px; 
  margin-left: 205px;
  display: inline-block; 
  border: 1px solid #FF8901; 
  margin-top: 1px;
}


.logo{
  height: 35px;
  width: 35px;
}


